.booksText{
    font-size:xx-large;
    color: rgb(219, 213, 125);
    text-align: center;
    position: relative;
    top:30px;
    background: rgb(59, 6, 80);
}
.tableData {
    vertical-align: top;
    padding:20px;
}
.booksImage{
    height: 250px;
    width: 200;
}
