<div class = "center-screen">
    <div class = table-responsive>
        <table>
            <thead>
                <tr>
                    <td colspan="5" class="booksText">{{booksTitle}}
                    </td>
                 </tr>
                 <br/>
                 <br/>
                 <br/>
                 <br/>
                <tr>
                    <td class = "tableData">
                        <img src=".\assets\Images\media_1b7327f720408f3da750167464f8cbcd74fa319c5.jpeg" class="booksImage"/>  
                    </td>
                    <td class = "tableData">
                        <h4>Book Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. 
                        Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. 
                        Tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Elit sed vulputate mi sit. Vel turpis nunc eget lorem dolor sed viverra. Lectus nulla at volutpat diam. Justo donec enim diam vulputate ut. 
                        In tellus integer feugiat scelerisque varius morbi. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Blandit libero volutpat sed cras ornare. Consequat ac felis donec et odio pellentesque diam volutpat commodo.
                        Elementum tempus egestas sed sed risus pretium quam. Consectetur libero id faucibus nisl tincidunt eget nullam non. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. 
                        Turpis cursus in hac habitasse platea dictumst quisque sagittis purus. At consectetur lorem donec massa sapien faucibus et molestie. Iaculis nunc sed augue lacus viverra. Pellentesque habitant morbi tristique senectus. 
                        Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Quis hendrerit dolor magna eget est lorem ipsum. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Quis commodo odio aenean sed adipiscing diam. 
                        Ut sem viverra aliquet eget. Quis blandit turpis cursus in hac. Id volutpat lacus laoreet non curabitur gravida. Facilisis magna etiam tempor orci eu lobortis. Auctor augue mauris augue neque gravida in. 
                        Porta lorem mollis aliquam ut porttitor leo.
                        </p>  
                    </td>
                </tr>
                <tr>
                    <td class = "tableData">
                        <img src=".\assets\Images\OIP.jpg" class="booksImage"/>  
                    </td>
                    <td class = "tableData">
                        <h4>Book Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. 
                        Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. Adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum. 
                        Tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Elit sed vulputate mi sit. Vel turpis nunc eget lorem dolor sed viverra. Lectus nulla at volutpat diam. Justo donec enim diam vulputate ut. 
                        In tellus integer feugiat scelerisque varius morbi. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio. Blandit libero volutpat sed cras ornare. Consequat ac felis donec et odio pellentesque diam volutpat commodo.
                        Elementum tempus egestas sed sed risus pretium quam. Consectetur libero id faucibus nisl tincidunt eget nullam non. Egestas maecenas pharetra convallis posuere morbi leo urna molestie. 
                        Turpis cursus in hac habitasse platea dictumst quisque sagittis purus. At consectetur lorem donec massa sapien faucibus et molestie. Iaculis nunc sed augue lacus viverra. Pellentesque habitant morbi tristique senectus. 
                        Nec feugiat in fermentum posuere urna nec tincidunt praesent semper. Quis hendrerit dolor magna eget est lorem ipsum. Egestas quis ipsum suspendisse ultrices gravida dictum fusce. Quis commodo odio aenean sed adipiscing diam. 
                        Ut sem viverra aliquet eget. Quis blandit turpis cursus in hac. Id volutpat lacus laoreet non curabitur gravida. Facilisis magna etiam tempor orci eu lobortis. Auctor augue mauris augue neque gravida in. 
                        Porta lorem mollis aliquam ut porttitor leo.
                        </p>  
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>